    *{
        margin: 0;
    }

:root {
    --cinza: #9c9c9c;
    --cinza-claro: #f3f3f3;
    --preto: #000000;
}

body {
    background-color: var(--cinza);
    color: var(--preto);
    font-family: "Inknut Antiqua", serif;
  font-weight: 400;
  font-style: normal;
}

header {
    background-color: var(--cinza-claro);
    display: flex;
    justify-content: space-between;
}

.cabeçalho {
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-around;
    
}

.intro {
    text-align: center;
    padding: 20px;
}
.cabeçalho-perna{
    margin: 0 20px;
    background-color: var(--preto);
    color: var(--cinza);
    padding: 2px;
    border-radius: 8px;
}
.container{
    width: 1000px;
    border: solid 1px var(--preto);
    margin: auto;
}
.exercicios-tríceps-corda img{
    width: 25%;
    border: #000000;
    border-radius: 30px;
}

footer{
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: var(--cinza-claro);
    color: var(--preto);
    justify-items: center;
    align-items: center;
}

.equipe{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    align-items: center;
    padding: 10px;
}

.equipe img{ 
    width: 45%;
    margin-left: 30px;
}

.paragrafo{
    margin-left: 50px;
}