:root{
    --cinza:#D9D9D9;
    --cinza-claro:#EFEFEF;
    --preto:#000000;
   }
   body {
       background-color:var(--cinza-claro);
        color:var(--preto);
   }
   header{
       display: flex;
       
   }
   .div{
    display:flex;
    align-items: center;
    padding: 10px;
   }
   
   
   
   
   