*{
    margin: 0;
}

@media screen and (max-widht:767) {
}

:root {
--cinza: #e6e6e6;
--cinza-claro: #d4d4d4;
--preto: #000000;
}

body {
background-color: var(--cinza);
color: var(--preto);
font-family: "Inknut Antiqua", serif;
font-weight: 400;
font-style: normal;
}

header {
background-color: var(--cinza-claro);
display: flex;
justify-content: space-between;
}

.cabeçalho {
display: flex;
align-items: center;
padding: 0 10px;
justify-content: space-around;
}

.intro {
text-align: center;
padding: 20px;
}


.botão-braço{
    background-color: var(--preto);
    color: var(--cinza);
    width: 82px;
    font-size: 14px;
    border-radius: 10px;
    transition: transform 200ms ease-in-out;
    text-decoration: none;
    text-align: center;
}

.botão-braço:hover{ 
    letter-spacing: 1px;
    background-color: #5c546369;
    color: black;
    box-shadow: #5c546369 ;
    transform: scale(1.05) ;
}

.botão-perna{
background-color: var(--preto);
color: var(--cinza);
width: 82px;
font-size: 14px;
margin-left: 15px;
border-radius: 10px;
cursor: pointer;
transition: transform 200ms ease-in-out;
text-decoration: none;
text-align: center;
}

.botão-perna:hover{ 
letter-spacing: 1px;
background-color: #5c546369;
color: black;
box-shadow: #5c546369 ;
transform: scale(1.05) ;
}

.descrição-diretos{ 
    margin-left: 1035px;
    font-size: 20px;
}

.container{
width: 1000px;
border: solid 1px var(--preto);
margin: auto;
}
.exercicios-tríceps-corda img{
width: 65%;
border: #000000 solid;
border-radius: 30px;
margin-left: 150px;
}

.exercicios-tríceps-corda-lista{
    display: grid;
    grid-template-columns: 40% 60%;
}

#descrição-triceps {
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:  285px;
    font-size: 20px;
}
#leg-press{
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left:  285px;
    font-size: 20px;
}

.texto-triceps{
    display: grid;
    margin-right: 300px;
    margin-top: 40px;
    text-align: center;
}

.exercicios-corda-direta{ 
    display: grid;
    grid-template-columns:  60% 40%;
}

.texto-rosca{
    margin-left: 200px;
    margin-right: 100px;
    margin-top: 50px;
    text-align: center;
}

.descrição-direto{
    font-size: 20px;
    margin: 0px 0px 10px 1090px;
}

.imagem-direta img{
    width: 65%;
border: #000000 solid;
border-radius: 30px;
margin: 0px 90px 25px 0px;
}

footer{
display: grid;
grid-template-columns: 35% 65%;
background-color: var(--cinza-claro);
color: var(--preto);
justify-items: center;
align-items: center;
}

#equipe{
display: grid;
grid-template-columns: 50% 50%;
align-items: center;
padding: 10px;
}

#equipe img{ 
width: 30%;
margin-left: 30px;
}

.paragrafo{
margin-left: 50px;
}

.joão{
    margin-left: 25px;
}

